* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: Arial, Helvetica, sans-serif;
}
.container {
  background-color: rgb(237, 237, 237);
  height: 100vh;
}
.container .wrap {
  display: grid;
  grid-template-columns: 1fr 4fr;
  gap: 20px;
}
.bar {
  background-color: white;
  border-radius: 10px;
}
.bar .logo {
  background-color: white;
  text-align: center;
  border-radius: 10px;
}
.bar ul {
  list-style: none;
  background-color: white;
  padding: 20px;
}
.bar ul a {
  text-decoration: none;
  color: rgb(52, 52, 52);
}
.bar ul li {
  margin: 20px 0;
}
/* =================Content==================- */

/* ====================Top===============- */
.content .top {
  display: flex;
  justify-content: space-between;
  padding: 20px;
  border: 1px solid gray;
  background-color: white;
  border-radius: 10px;
}
.content .top .search {
  display: flex;
  border-radius: 5px;
  width: 40%;
}
.content .top .search input {
  line-height: 2rem;
  border: 1px solid gray;
  width: 80%;
}
.content .top .search button {
  background-color: cornflowerblue;
  font-size: 25px;
  border: none;
  padding: 0 5px;
}
/* ==================Bottom==============- */
.content .bottom {
  border: 1px solid gray;
  border-radius: 10px;
  padding: 0 20px;
}
.content .bottom .products-control {
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 20px;
  padding: 10px 0;
}
.content .bottom .products-control .control-button button {
  font-size: 16px;
  padding: 10px;
  margin-right: 10px;
  border-radius: 5px;
  border: 1px solid gray;
}
.content .bottom .products-control .control-button .filter {
  background-color: white;
}
.content .bottom .products-control .control-button .see-all {
  background-color: lightslategray;
}
.content .bottom .products-control .control-button .add {
  background-color: rgb(77, 38, 124);
  color: white;
}
/* ========Add form====================- */

/* ===================================- */
.content .bottom .product-table table {
  width: 100%;
  text-align: center;
}
.content .bottom .product-table th,
td {
  padding: 5px;
  border-collapse: collapse;
  border: none;
  border-bottom: 1px solid gray;
}
.content .bottom .product-table table thead,
tr {
  border: 1px solid gray;
}
.content .bottom .product-table i {
  padding: 5px;
}
/* .content .bottom .product-table .pic {
    display: flex;
    align-items: center;
    gap: 10px;
  } */
.content .bottom .product-table img {
  width: 50px;
}
/* ===================================- */
.content .bottom .product-info .table-head,
.product {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr;
  gap: 10px;
}
.content .bottom .product-table button {
  font-size: 16px;
  padding: 5px;
}
/* ===================Page control================- */
.content .page-control {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 20px;
}
.content .page-control .page > button {
  width: 30px;
}
/* ===================================- */
/* ===================================- */
